body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
.top{
    background-image: url(donate-today-main/images/Background.png);
    padding: 5%px;
    background-repeat: no-repeat;
}
.lets-help{
    color:orange;
    padding: 5%;
    text-align: center; 
}
.donate-now-button{
    text-decoration: none;
    color: whitesmoke;
    background-image: linear-gradient(orange, red); 
    background-color: orange;
    padding: 5px 10px;
    border-radius: 5px
}
.letsdo{
    font-size: 80px;
}
#p1{
    font-size: 20px;

}
.set-amount{
    
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    
}
.amount100to5000{text-align: center
    ;
    display: flex;
    margin: 20px;
    padding: 5px;
}
.plan{
    text-align: center;
    width: 90%;
    margin: 50px;
}
.foodtoedu{text-align: center;
    display: flex;
    margin: 40px;
    margin-left: 10px;
}
.food{
    border: 20px;
    background-color: antiquewhite;
    margin: 20px;
    
    }
    .shelter{
        border: 20px;
        background-color: aqua;
        margin: 20px;

    }
.education{
border: 20px;

background-color:hotpink;
margin: 20px;
box-shadow: 10px;
}
.foodimage{
    margin-right: 10%;
    
}
.half-side{
    width: 60%;
    padding: 5%;
    
}
.hlf-side img{
    width:20px;

    

}
.depend{
    display: flex;
    margin-bottom: 10px;
    
}
.survive{display: flex;
    
    margin-left: 80px;
    margin-right: 80px;
}
footer{
    text-decoration: none;
    text-align: center;
    background-color: black;
    color: whitesmoke;
    
}
#behumble{
    color: red;
}
.email{
    text-align: center;
}
#emailback{

    padding: 5%;
    background-color: bisque;
    margin: bottom 100px;
    margin-left: 300px;
    margin-right: 300px;
    border-radius: 5px;
}
.photodonate{
    height: 60%;
    width: 90%;
    
}